# Demo of Utilizing New GraphQL API for SNP Data

## Setting Up API Connection

The script begins by setting up a connection to a GraphQL API, specifying the base URL and the endpoint.

In [1]:
import requests
import json
import pandas as pd
from config.settings import settings

BASE_URL = settings.API_URL
GRAPHQL_ENDPOINT = 'graphql'

## Understanding Annotations in the API

It executes a GET request to retrieve a list of annotations. These annotations describe various data fields available through the API, detailing their characteristics such as name, description, and how they relate to each other in a hierarchical manner, much like a structured catalog of options you can query. 

**api_field:** Specifies the field name as it should be used in API requests, particularly when crafting queries for a GraphQL API. This ensures you're asking for data in a format the API understands.

In [3]:
response = requests.get(f"{BASE_URL}annotations")

annotations = response.json()
annotations_df = pd.DataFrame(annotations['results'])
annotations_df

,id,leaf,name,label,sort,parent_id,detail,link,pmid,field_type,keyword_searchable,api_field,root_url,sample_url,value_type
0,0,False,root,Annotation,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,False,Basic Info,NaN,1.0,0,"Basic information about the variant, such as c...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,26,False,ANNOVAR,NaN,2.0,0,Pre-computed ANNOVAR annotations for all alter...,http://annovar.openbioinformatics.org/en/lates...,20601685,NaN,NaN,NaN,NaN,NaN,NaN
3,208,False,SnpEff,NaN,3.0,0,AnpEff is a program for annotating and predict...,http://pcingola.github.io/SnpEff/,22728672,NaN,NaN,NaN,NaN,NaN,NaN
4,132,False,VEP,NaN,4.0,0,Variant Effect Predictor (VEP) is developed by...,https://uswest.ensembl.org/info/docs/tools/vep...,27268795,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,621,True,sno_miRNA_type,NaN,NaN,495,the type of snoRNA or miRNA (from miRBase/snoR...,NaN,NaN,text,True,sno_miRNA_type,NaN,NaN,NaN
542,622,True,splicing_consensus_ada_score,NaN,NaN,495,splicing-change prediction for splicing consen...,NaN,NaN,float,NaN,splicing_consensus_ada_score,NaN,NaN,NaN
543,623,True,splicing_consensus_rf_score,NaN,NaN,495,splicing-change prediction for splicing consen...,NaN,NaN,float,NaN,splicing_consensus_rf_score,NaN,NaN,NaN
544,624,True,target_gene,NaN,NaN,495,"target gene (for promoter, enhancer, etc.) bas...",NaN,NaN,text,True,target_gene,NaN,NaN,NaN
545,625,True,ultra_sensitive,NaN,NaN,495,whether defined as ultra-sensitive region base...,NaN,NaN,text,True,ultra_sensitive,NaN,NaN,NaN

## Extracting SNP Data Through a GraphQL Query

The script continues by constructing a GraphQL query designed to fetch specific information about Single Nucleotide Polymorphisms (SNPs) based on criteria such as chromosome number and position range. This query illustrates GraphQL's capability to precisely target and retrieve the needed data from the server, thus optimizing the data acquisition process. The response from this query provides detailed attributes of SNPs for subsequent processing or analysis.

In [15]:
query = """
query MyQuery {
  GetSNPsByChromosome(chr: "1", end: 1000000, start: 10) {
    alt 
    chr 
    pos
    rs_dbSNP151
    ref
    ANNOVAR_ensembl_Effect 
    ANNOVAR_refseq_Effect
  }
}
"""

response = requests.post(f"{BASE_URL}{GRAPHQL_ENDPOINT}", json={'query': query})

data = json.loads(response.text)
snps_by_chromosome = data['data']['GetSNPsByChromosome']

## Processing and Displaying the Data

After receiving data from the GraphQL query, the script processes it for analysis. This involves flattening the nested structure of the data response to a more straightforward, table-like format.

In [17]:
flattened_data = pd.json_normalize(snps_by_chromosome)
snp_df = pd.DataFrame(flattened_data)
snp_df

,alt,chr,pos,rs_dbSNP151,ref,ANNOVAR_ensembl_Effect,ANNOVAR_refseq_Effect
0,A,1,54353,rs140052487,C,ncRNA_intronic|downstream,intergenic
1,T,1,54564,rs558796213,G,ncRNA_intronic|downstream,intergenic
2,G,1,54591,rs561234294,A,ncRNA_intronic|downstream,intergenic
3,A,1,16071,rs541172944,G,ncRNA_intronic|downstream,ncRNA_intronic|downstream
4,T,1,16141,rs529651976,C,ncRNA_intronic|downstream,ncRNA_intronic|downstream
5,C,1,16280,rs866639523,T,ncRNA_intronic|downstream,ncRNA_intronic|downstream
6,G,1,13380,rs571093408,C,ncRNA_exonic|ncRNA_intronic|downstream,ncRNA_exonic|downstream
7,C,1,49298,rs10399793,T,upstream,intergenic
8,T,1,54676,rs2462492,C,ncRNA_intronic|downstream,intergenic

# Get SNP by VCF File
This is done using the IDs

In [26]:
query = """
query myQuery {
  GetSNPsByIDs(
    ids: ["2:10662G>C", "2:10632C>A"]
    page_args: {from_: 0, size: 5}
  ) {
    id
    chr
    pos
    ANNOVAR_ensembl_Effect
  }
}
"""

response = requests.post(f"{BASE_URL}{GRAPHQL_ENDPOINT}", json={'query': query})

data = json.loads(response.text)
snps_by_id = data['data']['GetSNPsByIDs']
snps_by_id

[{'id': '2:10662G>C',
  'chr': '2',
  'pos': 10662,
  'ANNOVAR_ensembl_Effect': 'intergenic'},
 {'id': '2:10632C>A',
  'chr': '2',
  'pos': 10632,
  'ANNOVAR_ensembl_Effect': 'intergenic'}]

In [27]:
flattened_data = pd.json_normalize(snps_by_id)
snp_df = pd.DataFrame(flattened_data)
snp_df

           id chr    pos ANNOVAR_ensembl_Effect
0  2:10662G>C   2  10662             intergenic
1  2:10632C>A   2  10632             intergenic

# Get SNP by RsID

In [28]:
query = """
query myQuery {
  GetSNPsByRsID(rsID: "rs189126619", filter_args: {exists: ["rs_dbSNP151"]}) {
    rs_dbSNP151
    chr
  }
}
"""

response = requests.post(f"{BASE_URL}{GRAPHQL_ENDPOINT}", json={'query': query})

data = json.loads(response.text)
snps_by_RsID = data['data']['GetSNPsByRsID']
snps_by_RsID

[{'rs_dbSNP151': 'rs189126619', 'chr': '2'}]

In [29]:
flattened_data = pd.json_normalize(snps_by_RsID)
snp_df = pd.DataFrame(flattened_data)
snp_df

   rs_dbSNP151 chr
0  rs189126619   2

# Get SNP by RsIDs

In [30]:
query = """
query myQuery {
  GetSNPsByRsIDs(rsIDs: ["rs115366554", "rs189126619"], filter_args: {exists: ["rs_dbSNP151"]}) {
    rs_dbSNP151
    chr
  }
}
"""

response = requests.post(f"{BASE_URL}{GRAPHQL_ENDPOINT}", json={'query': query})

data = json.loads(response.text)
snps_by_RsIDs = data['data']['GetSNPsByRsIDs']
snps_by_RsIDs

[{'rs_dbSNP151': 'rs115366554', 'chr': '2'},
 {'rs_dbSNP151': 'rs189126619', 'chr': '2'}]

In [32]:
flattened_data = pd.json_normalize(snps_by_RsIDs)
snp_df = pd.DataFrame(flattened_data)
snp_df

   rs_dbSNP151 chr
0  rs115366554   2
1  rs189126619   2

# Get aggregates by chromosome

In [18]:
query = """
query myQuery {
  GetAggsByChromosome(chr: "2", end: 100000, start: 10) {
    chr {
      histogram {
        key
        doc_count
      }
      min
      max
    }
    pos {
      frequency {
        doc_count
        key
      }
      missing {
        doc_count
      }
      doc_count
    }
  }
}
"""

response = requests.post(f"{BASE_URL}{GRAPHQL_ENDPOINT}", json={'query': query})

data = json.loads(response.text)
aggs_by_chromosome = data['data']['GetAggsByChromosome']
aggs_by_chromosome

{'chr': {'histogram': [{'key': '9786.54', 'doc_count': 9},
   {'key': '14679.810000000001', 'doc_count': 0},
   {'key': '19573.08', 'doc_count': 0},
   {'key': '24466.350000000002', 'doc_count': 0},
   {'key': '29359.620000000003', 'doc_count': 0},
   {'key': '34252.89', 'doc_count': 0},
   {'key': '39146.16', 'doc_count': 0},
   {'key': '44039.43000000001', 'doc_count': 0},
   {'key': '48932.700000000004', 'doc_count': 0},
   {'key': '53825.97', 'doc_count': 0},
   {'key': '58719.240000000005', 'doc_count': 0},
   {'key': '63612.51000000001', 'doc_count': 0},
   {'key': '68505.78', 'doc_count': 0},
   {'key': '73399.05', 'doc_count': 0},
   {'key': '78292.32', 'doc_count': 0},
   {'key': '83185.59000000001', 'doc_count': 0},
   {'key': '88078.86000000002', 'doc_count': 0},
   {'key': '92972.13', 'doc_count': 0},
   {'key': '97865.40000000001', 'doc_count': 0},
   {'key': '102758.67000000001', 'doc_count': 0},
   {'key': '107651.94', 'doc_count': 0},
   {'key': '112545.21', 'doc_count': 0},
   {'key': '117438.48000000001', 'doc_count': 0},
   {'key': '122331.75000000001', 'doc_count': 0},
   {'key': '127225.02000000002', 'doc_count': 0},
   {'key': '132118.29', 'doc_count': 0},
   {'key': '137011.56', 'doc_count': 0},
   {'key': '141904.83000000002', 'doc_count': 0},
   {'key': '146798.1', 'doc_count': 0},
   {'key': '151691.37000000002', 'doc_count': 0},
   {'key': '156584.64', 'doc_count': 0},
   {'key': '161477.91', 'doc_count': 0},
   {'key': '166371.18000000002', 'doc_count': 0},
   {'key': '171264.45', 'doc_count': 0},
   {'key': '176157.72000000003', 'doc_count': 0},
   {'key': '181050.99000000002', 'doc_count': 0},
   {'key': '185944.26', 'doc_count': 0},
   {'key': '190837.53000000003', 'doc_count': 0},
   {'key': '195730.80000000002', 'doc_count': 0},
   {'key': '200624.07', 'doc_count': 0},
   {'key': '205517.34000000003', 'doc_count': 0},
   {'key': '210410.61000000002', 'doc_count': 0},
   {'key': '215303.88', 'doc_count': 0},
   {'key': '220197.15000000002', 'doc_count': 0},
   {'key': '225090.42', 'doc_count': 0},
   {'key': '229983.69000000003', 'doc_count': 0},
   {'key': '234876.96000000002', 'doc_count': 0},
   {'key': '239770.23', 'doc_count': 0},
   {'key': '244663.50000000003', 'doc_count': 0},
   {'key': '249556.77000000002', 'doc_count': 0},
   {'key': '254450.04000000004', 'doc_count': 0},
   {'key': '259343.31000000003', 'doc_count': 0},
   {'key': '264236.58', 'doc_count': 0},
   {'key': '269129.85000000003', 'doc_count': 0},
   {'key': '274023.12', 'doc_count': 0},
   {'key': '278916.39', 'doc_count': 0},
   {'key': '283809.66000000003', 'doc_count': 0},
   {'key': '288702.93000000005', 'doc_count': 0},
   {'key': '293596.2', 'doc_count': 0},
   {'key': '298489.47000000003', 'doc_count': 0},
   {'key': '303382.74000000005', 'doc_count': 0},
   {'key': '308276.01', 'doc_count': 0},
   {'key': '313169.28', 'doc_count': 0},
   {'key': '318062.55000000005', 'doc_count': 0},
   {'key': '322955.82', 'doc_count': 0},
   {'key': '327849.09', 'doc_count': 0},
   {'key': '332742.36000000004', 'doc_count': 0},
   {'key': '337635.63', 'doc_count': 0},
   {'key': '342528.9', 'doc_count': 0},
   {'key': '347422.17000000004', 'doc_count': 0},
   {'key': '352315.44000000006', 'doc_count': 0},
   {'key': '357208.71', 'doc_count': 0},
   {'key': '362101.98000000004', 'doc_count': 0},
   {'key': '366995.25000000006', 'doc_count': 0},
   {'key': '371888.52', 'doc_count': 0},
   {'key': '376781.79000000004', 'doc_count': 0},
   {'key': '381675.06000000006', 'doc_count': 0},
   {'key': '386568.33', 'doc_count': 0},
   {'key': '391461.60000000003', 'doc_count': 0},
   {'key': '396354.87000000005', 'doc_count': 0},
   {'key': '401248.14', 'doc_count': 0},
   {'key': '406141.41000000003', 'doc_count': 0},
   {'key': '411034.68000000005', 'doc_count': 0},
   {'key': '415927.95', 'doc_count': 0},
   {'key': '420821.22000000003', 'doc_count': 0},
   {'key': '425714.49000000005', 'doc_count': 0},
   {'key': '430607.76', 'doc_count': 0},
   {'key': '435501.03', 'doc_count': 0},
   {'key': '440394.30000000005', 'doc_count': 0},
   {'key': '445287.57000000007', 'doc_count': 0},
   {'key': '450180.84', 'doc_count': 0},
   {'key': '455074.11000000004', 'doc_count': 0},
   {'key': '459967.38000000006', 'doc_count': 0},
   {'key': '464860.65', 'doc_count': 0},
   {'key': '469753.92000000004', 'doc_count': 0},
   {'key': '474647.19000000006', 'doc_count': 0},
   {'key': '479540.46', 'doc_count': 0},
   {'key': '484433.73000000004', 'doc_count': 0},
   {'key': '489327.00000000006', 'doc_count': 0},
   {'key': '494220.27', 'doc_count': 0},
   {'key': '499113.54000000004', 'doc_count': 0}],
  'min': 10597.0,
  'max': 10662.0},
 'pos': {'frequency': [{'doc_count': 1, 'key': '10597'},
   {'doc_count': 1, 'key': '10603'},
   {'doc_count': 1, 'key': '10614'},
   {'doc_count': 1, 'key': '10630'},
   {'doc_count': 1, 'key': '10632'},
   {'doc_count': 1, 'key': '10649'},
   {'doc_count': 1, 'key': '10655'},
   {'doc_count': 1, 'key': '10659'},
   {'doc_count': 1, 'key': '10662'},
   {'doc_count': 0, 'key': '10229'},
   {'doc_count': 0, 'key': '10408'},
   {'doc_count': 0, 'key': '10775'},
   {'doc_count': 0, 'key': '11689'},
   {'doc_count': 0, 'key': '11720'},
   {'doc_count': 0, 'key': '11739'},
   {'doc_count': 0, 'key': '11788'},
   {'doc_count': 0, 'key': '11797'},
   {'doc_count': 0, 'key': '11879'},
   {'doc_count': 0, 'key': '11982'},
   {'doc_count': 0, 'key': '11986'}],
  'missing': {'doc_count': 0},
  'doc_count': 9}}

In [20]:
flattened_data = pd.json_normalize(aggs_by_chromosome, max_level=4)
snp_df = pd.DataFrame(flattened_data)
snp_df

,chr.histogram,chr.min,chr.max,pos.frequency,pos.missing.doc_count,pos.doc_count
0,"[{'key': '9786.54', 'doc_count': 9}, {'key': '...",10597.0,10662.0,"[{'doc_count': 1, 'key': '10597'}, {'doc_count...",0,9

# Download Snp Data by chromosomes

In [24]:
query = """
query myQuery {
  DownloadSNPsByChromosome(
    chr: "2"
    end: 1000000
    fields: ["chr", "pos", "ref"]
    start: 10
    page_args: {from_: 2, size: 2}
  )
}
"""

response = requests.post(f"{BASE_URL}{GRAPHQL_ENDPOINT}", json={'query': query})

data = json.loads(response.text)
download_by_chromosome = data['data']['DownloadSNPsByChromosome']
download_by_chromosome

'/downloads/22074ef2-6729-4839-8dc2-a51014f14382.txt'

# Count SNP by chromosomes

In [25]:
query = """
query myQuery {
  CountSNPsByChromosome(
    chr: "2"
    end: 100000
    start: 10
    filter_args: {exists: ["chr", "ref", "pos"]}
  )
}
"""

response = requests.post(f"{BASE_URL}{GRAPHQL_ENDPOINT}", json={'query': query})

data = json.loads(response.text)
count_by_chromosome = data['data']['CountSNPsByChromosome']
count_by_chromosome

9